@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Fira+Sans:wght@200&family=Inter:wght@300&family=Lato:wght@300&family=Montserrat:wght@300&family=Noto+Sans:wght@300&family=Poppins:wght@300;400&family=Quicksand:wght@300&family=Roboto+Slab:wght@300;400&family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.Images {
  width: 500px;
  height: 300px;
  transition: 0.2s;

}

.Images:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.detail-image {
  width: 200px;
  height: 200px;
  margin: 0 15px;
}

#loading-gif {
  width: 300px;
  height: 250px;
  margin: auto;
}

@media screen and (max-width: 600px) {

  .details {
    margin: 1.5em;
  }
}